$drawer-background: #000000;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$background-drawer-data: #3F3F3F;
$background-global: #dee5e9;
$color-font-drawer-data: #d9d9d9;