@import "../../helpers/constants.scss";

.drawer {
    background: #000000;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0; /*Para que este pegado al techo*/
    right: 0;
    transition: all ease-in 200ms;

    .logo-drawer{
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .drawer-data {
        background: grey;

        color: $color-font-drawer-data;
        height: 100px;
        margin-top: 50px;
        position: relative;

        .drawer-li {
            padding-top: 15px;
            font-size: 15px;
            list-style: none;
            text-decoration: none;
            text-align: center;
        }
    }

    .search-custom{
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    p{
        margin-left: 15px;
    }

    input[type=radio] {
        margin-left: 15px;
        border: 0;
        width: 20px;
    }

}

.hide-drawer{
    right: 100%;
}

@media #{$tablet}{
    .drawer {
        left: 0;
        width: 300px;
        transition: all ease-in 200ms;
    }
}

@media #{$desktop}{
    .drawer {
        left: 0;
        width: 250px;
        transition: all ease-in 200ms;
    }
}
