.App {
  text-align: center;
}

.header {
  width: 100%;
  padding: 0;
}

.content {
  margin: 80px auto;
  border-radius: 3px;
  width: 80%;
  height: 100%;
  padding: 30px 0 30px 0;
}

.footer {
  background: #000000;
  color: #ffffff;
  bottom: 0;
  width: 100%;
}
